.lc-footer__wrap {
  background-color: $lc-color--dark;
  font-weight: 300;
  p {
    @extend .m-b-0;
  }
}

.lc-footer {
  @extend .container;
  @extend .text--bright;
  @extend .p-t-2;
}

.lc-footer__column {
  @extend .col-xl-4;
  @extend .col-lg-4;
  @extend .m-b-2;
}

.lc-footer_column--full-width {
  @extend .col-xs-12;
  @extend .col-md-12;
  @extend .col-lg-12;
  @extend .col-xl-12;
}

.lc-footer__header {
  @extend .m-b-2;
  color: #fff;
}

.lc-footer__login-button-wrap {
  text-align: right;
}

.lc-footer__login-button {
  @extend .lc-neutral-button;
  @extend .lc-neutral-button--on-dark;
}

.lc-footer__textinput {
  @extend .form-control;
  @extend .lc-neutral-textinput;
  @extend .lc-neutral-textinput--on-dark;
}
