.lc-logo-librecat {
  .stroke-black {
    stroke: #000;
  }
  .fill-blue {
    fill: $lc-color--project-blue;
  }
  .fill-black {
    fill: #000;
  }
  .red {
    fill: $lc-color--project-red;
    stroke: $lc-color--project-red;
  }
  .yellow {
    fill: $lc-color--project-yellow;
    stroke: $lc-color--project-yellow;
  }
  .green {
    fill: $lc-color--project-green;
    stroke: $lc-color--project-green;
  }
}

.lc-logo-librecat--on-dark {
  height: 100px;
  .stroke-black {
    stroke: #fff;
  }
  .fill-blue {
    fill: #fff;
  }
  .fill-black {
    fill: #fff;
  }
  .red {
    stroke: $lc-color--dark;
    fill: $lc-color--dark;
  }
  .yellow {
    fill: $lc-color--dark;
    stroke: $lc-color--dark;
  }
  .green {
    fill: $lc-color--dark;
    stroke: $lc-color--dark;
  }
}
