.lc-record-header__wrap {
  @extend .p-t-2;
  @extend .m-b-2;
  background-color: $lc-color--dark;
  color: $lc-color--brightest;
}

.lc-record-header {
  @extend .container;
}
// .lc-record__wrap {}

.lc-record {
  @extend .container;
}

.lc-record__title,
.lc-record__citation {
  @extend .col-xs-12;
}

.lc-block {
  @extend .m-b-2;
}

// .lc-record__opendata {}

.lc-record__opendata__heading,
.lc-record__search-in__heading,
.lc-record__citation__heading,
.lc-record__department__heading,
.lc-record__editor__heading {
  @extend .h5;
}

.lc-record__type,
.lc-record__publication-status,
.lc-record__language,
.lc-record__editor,
.lc-record__department,
.lc-record__year,
.lc-record__pub-id,
.lc-record__search-in,
.lc-record__citation-copy,
.lc-record__opendata,
.lc-record__author,
.lc-record__abstract,
.lc-record__keyword,
.lc-record__url,
.lc-record__translators,
.lc-record__edit {
  @extend .row;
  @extend .m-b-1;
  @include media-breakpoint-up(sm) {
    margin-bottom: 0.25rem !important;
  }
}

.lc-record__heading {
  @extend .col-sm-4;
  @extend .col-md-3;
  @extend .col-xl-2;
  @include media-breakpoint-up(sm) {
    text-align: right;
  }
}

.lc-record__data {
  @extend .col-sm-8;
  @extend .col-md-9;
  @extend .col-xl-10;
}

.lc-record__citation-copy__button {
  @extend .lc-button--spaced;
}

.lc-record__title {
  @extend .h2;
}

.lc-record__citation {
  @extend .m-b-2;
}

.lc-record__data {
  pre {
    font-size: 66.66%;
    margin-bottom: 0;
  }
}
