.lc-topbar__wrap {
    @extend .p-y-2;
    @extend .m-b-2;
    // @extend .m-b-;
    background-color: $lc-color--dark;
    font-weight: 300;
}

.lc-topbar {
    @extend .container;
    @extend .text--bright; // set text color bright, because we have a dark
                           // background
}

.lc-topbar__link {
    // text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

/**
 * 1. show a pipe symbol as separator after each LI except the last one
 */
.lc-topbar__linklist {
    @extend .list-inline; // use bootstrap class
    @extend .m-b-0; // remove margon bottom from bootstrap class
    @extend .col-xs-12; // span the linklist full width
    li {
        @extend .list-inline-item; // have the LIs inline
        @extend .m-x-0; // remove any left/right margin
    }
    li:not(:last-child) { // 1.
        ::after {
            content: "|";
            @extend .m-r-1; // margin right of separator
            @extend .m-l-1; // margin left of separator
        }
    }
}
