$lc-color--dark: #064177;

$lc-color--brightest: #fff;

$lc-text--smallest: 66.66%;

$lc-color--project-red: #a63636;
$lc-color--project-blue: #cef1f0;
$lc-color--project-yellow: #ffe2a7;
$lc-color--project-green: #05b65c;
