<div class="lc-record__license">
  [% lf.forms.$type.field.license.data_reuse_license.label %]
  [% SWITCH data_reuse_license %]
  [% CASE 'PDDL' %] This [% title %] is made available under the Public Domain Dedication and License v1.0 whose full text can be found at: <a href="http://opendatacommons.org/licenses/pddl/1.0">http://opendatacommons.org/licenses/pddl/1.0</a><!-- TODO: translate this -->
  [% CASE 'ODC-By' %] This [% title %] is made available under the Open Data Commons Attribution License: <a href="http://opendatacommons.org/licenses/by/1.0">http://opendatacommons.org/licenses/by/1.0</a><!-- TODO: translate this -->
  [% CASE 'ODbL' %] This [% title %] is made available under the Open Database License: <a href="http://opendatacommons.org/licenses/odbl/1.0">http://opendatacommons.org/licenses/odbl/1.0</a>. Any rights in individual contents of the database are licensed under the Database Contents License: <a href="http://opendatacommons.org/licenses/dbcl/1.0/">http://opendatacommons.org/licenses/dbcl/1.0/</a><!-- TODO: translate this -->
  [% END %]
</div>
