[% name = type %]
[% IF lf.forms.$type.label.defined %]
  [% name = lf.forms.$type.label %]
[% END %]
<div class="lc-record__type">
  <div class="lc-record__heading">
    Type:<!-- TODO: translate this -->
  </div>
  <div class="lc-record__data">
    [% name %]
  </div>
</div>
