<div class="lc-record__research-group">
[%- FOREACH rg IN research_group -%]
  [%- IF loop.first -%]
    [% lf.forms.$type.field.research_group.label %]
  [%- ELSE -%]
  [% END %]
  [% rg.name %]
  [% IF loop.last %]
  [% END %]
[%- END -%]
</div>
