<div class="lc-record__corporate-editor">
[% FOREACH ed IN corporate_editor %]
  [% IF loop.first %]
    [% lf.forms.$type.field.corporate_editor.label || lf.forms.$type.field.corporate_editor_solo.label %]
  [% ELSE %];[% END %]
  [% ed %]
  [% IF loop.last %]
  [% END %]
[% END %]
</div>
