<div class="lc-record__alt-title">
[%- FOREACH at IN alternative_title -%]
[%- IF loop.first -%]
  [% lf.forms.$type.field.alternative_title.label %]
    [%- ELSE  -%]
    [% END %]
    [% at %]
  [%- IF loop.last -%]
  [% END %]
[%- END -%]
</div>
