[% lang = session.lang ? session.lang : h.config.default_lang -%]
[% lf = h.config.language.$lang -%]
<!-- Title (Start) -->
<div class="lc-title__wrap">
	<div class="lc-title">
		<div class="row">
			<div class="col-xs-12 text-xs-center">
				<h1>[% lf.header.title.goe %]</h1>
			</div>
		</div>
	</div>
</div>
<!-- Title (End) -->
