[% PROCESS partials/header.tt %]

<!-- BEGIN websites/403.tt -->

<div class="row"><!-- outer border -->

  <div class="col-md-11 col-sm-12"><!-- main content -->

    <div>
	<h1>
	  [% lf.403.heading %]
	</h1>
    </div>

    <div class="row ">
      <div class="col-md-12">
      </div>
    </div>

  </div>

</div>

<!-- END websites/403.tt -->

[% INCLUDE partials/footer.tt %]
[% INCLUDE base/html_end.tt %]
