<!-- BEGIN frontdoor/tab_relresdata.tt -->
<div class="lc-record__cites-data-publications">
  [% lf.frontdoor.tabs.data_publication.cites %]
  [% FOREACH resDat IN relResData %]
    [% rec = h.get_publication(resDat.id) %]
    [% NEXT IF rec.status != "public" %]
      [% resDat.id %]
	    <a href="/data/[% resDat.id %]" title="">[% rec.title %]</a>
	    [% rec.citation.default %]
  [% END %]
</div>
<!-- END frontdoor/tab_relresdata.tt -->
