<div class="lc-record__cites-publications">
  [% lf.frontdoor.tabs.publication.cited_by %]
  [% FOREACH resDat IN relPubl %]
  ||
    [% rec = h.get_publication(resDat.id) %]
    [% NEXT IF rec.status != "public" %]
      [% resDat.id %]
	  <a href="/publication/[% resDat.id %]" title="">[% rec.title %]</a>
	  [% rec.citation.default %]
  [% END %]
</div><!-- tab-pane relPubl -->
